<h1>Request Walk my dog</h1>

<div class="content">
  <form action="{s4uInsertRequest}" name="createRequest" id="createRequest" method="POST" class="pure-form pure-form-stacked">
    <fieldset>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-2-5">
          <label>What is the best time to call?</label>
          <select class="pure-u-1" name="bestTime">
            <option value="1">Morning</option>
            <option value="2">Afternoon</option>
            <option value="3">Night</option>
            <option value="4" selected>Anytime</option>
          </select>
        </div>
    </fieldset>

    <div class="pure-u-1 pure-u-sm-2-3">

      <div>
        <p class="agree_box">
          We are looking for someone to walk your dog.
          You will be receive an email from us we find this person.
          <BR>
          Is it ok to show him your address?
        </p>
      </div>
    </div>

    <p class="action-buttons">
      <input type="submit" name="commit" value="It is ok to share my address. " />
    </p>

</div>
