    <h1>Request Grocery</h1>
<div class="content">
    <form class="pure-form pure-form-stacked">
        <article class="card no-icon padding">
            <legend>New Item</legend>
            <div class="pure-g">
                <div class="pure-u-12-24 pure-u-sm-13-24">
                    <label>Item</label>
                    <input type="text" name="item[]" value="" class="pure-u-1">
                </div>
                <div class="pure-u-3-24 pure-u-sm-3-24">
                    <label>Qty</label>
                    <input type="text" name="qty[]" value="" class="pure-u-1">
                </div>
                <div class="pure-u-7-24 pure-u-sm-7-24">
                    <label>Unit</label>
                    <select name="unit[]" value="" class="pure-u-1">
                        {s4uListUnits}
                    </select>
                </div>
                <div class="pure-u-2-24 pure-u-sm-1-24 icon-action">
                    <label></label>
                    <a href="#" class="icon-action add"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </article>
    </form>
    <form action="{s4uCreateRequest}" name="createRequest" id="createRequest" method="POST" class="pure-form pure-form-stacked">
        <fieldset>
            <div class="list-items"></div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-10-24 request-grocery-cost">
                    <label>How much do you think this will cost?</label>
                   <input type="text" name="price" value="" placeholder="C$" class="pure-u-1"/>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1">
                    <p class="action-buttons">
                            <input type="submit" name="commit" value="Create Request" />
                    </p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
