<h1>Request</h1>

<div class="content">
    <form action="{s4uInsertRequest}" name="createRequest" id="createRequest" method="POST" class="pure-form pure-form-stacked">
        <div class="msg-error">{s4uErrorMessage}</div>
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-3-5">
                    <label>What is the best time to someone call you?</label>
                    <select class="pure-u-1" name="bestTime">
                        <option value="1">Morning</option>
                        <option value="2">Afternoon</option> 
                        <option value="3">Night</option> 
                        <option value="4" selected>Anytime</option> 
                   </select>
               </div>
           </div>
           <div class="pure-g">
               <div class="pure-u-1 pure-u-sm-3-5">
                    <label for="language" class="{s4uErrorField1}">Language:</label>
                    <select name="langId" class="pure-u-1">
                        <option value=0>Not informed</option>
                        {s4uListLangs}
                    </select>
                </div>
            </div>
            <div class="pure-g">
               <div class="pure-u-1 pure-u-sm-2-5">
                    <label for="phone" class="{s4uErrorField2}">Phone:</label>
                    <input type="text" id="phone" name="phone" placeholder="(xxx)xxx-xxxx" value="{s4uPhone}" class="pure-u-1" />
                </div>
                <div class="pure-u-1 pure-u-sm-1-5 action-buttons">
                       <label></label>
                    <input type="submit" name="commit" value="OK" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
