<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage" >
<head>
  <title>Wod Sunset</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="imagens/wodsunset/wst.ico"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700normal,700italic" type="text/css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/boiler.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="wodland.com.br"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./boiler.php?c=CtlPages&action=home#home">HOME</a></li>	  
        <li><a href="./boiler.php?c=CtlPages&action=home#servicos">VALORES</a></li>
        <li><a href="./boiler.php?c=CtlPages&action=home#planos">PLANOS</a></li>
        <li><a href="./boiler.php?c=CtlPages&action=home#contato">CONTATO</a></li>
        <li><a href="./boiler.php?c=CtlEventos&action=inscreve&idEvento=3"><strong>WOD SUNSET</strong></a></li>
        <li><a href="http://facebook.com/boilerchannel" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a></li>
        <li><a href="http://instagram.com/boilerchannel" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
        <li><a href="http://youtube.com/boilerchannel" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="home" class="jumbotron text-center">
  <img src="imagens/boiler_pequeno.png">
</div>
