<link rel="stylesheet" type="text/css" href="../classes/Views/Style/styleRequest.css">

<body>
<h1> What are you needing?<BR> </h1>
<div class="main">
    <h2><BR></h2>
    <div class="main">
        <div class="alignbuttons">
            <button onclick="window.location.href='{s4uRequestGrocery}'"   class="buttonchoose">GROCERY</button>
            <button onclick="window.location.href='{s4uReqPhoneCall}'"     class="buttonchoose">TALK</button>
            <button onclick="window.location.href='{s4uReqWalkDog}'"       class="buttonchoose">WALK MY DOG</button>
            <button onclick="window.location.href='{s4uReqPlayGame}'"      class="buttonchoose">PLAY VIDEO GAME</button>
        </div>
    </div>
</div>
</body>
