<style>
  .button {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: #00bfff;
  transition-duration: 1s;
}
.button:hover {
  background-color: #0040ff;
  color: white;
}

</style>

<body>
<h1> Cool! What you want to donate? <BR> </h1>

<h2><BR></h2>

  <button onclick={s4uDonateGrocery} class="button">GROCERY           </button>
  <button onclick={s4uDonateTalk}    class="button">TALK              </button>
  <button onclick={s4uDonateDog}     class="button">WALK MY DOG       </button>
  <button onclick={s4uDonateGame}    class="button">PLAY VIDEO GAME   </button>
  <button onclick={s4uDonateOther}   class="button">A DIFFERENT THING </button>

</body>
