<h1> What are you needing?</h1>
<div class="content content-small">
    <div class="pure-g sub-menu">
            <button onclick="window.location.href='{s4uRequestGrocery}'"   class="pure-u-1"><i class="fas fa-hamburger"></i> GROCERY</button>
            <button onclick="window.location.href='{s4uReqPhoneCall}'"     class="pure-u-1"><i class="fas fa-comments"></i> TALK</button>
            <button onclick="window.location.href='{s4uReqWalkDog}'"       class="pure-u-1"><i class="fas fa-paw"></i> WALK MY DOG</button>
            <button onclick="window.location.href='{s4uReqPlayGame}'"      class="pure-u-1"><i class="fas fa-gamepad"></i> PLAY VIDEO GAME</button>
    </div>
</div>
</body>
