<link rel="stylesheet" type="text/css" href="../classes/Views/Style/styleRequest.css">

<body>
<h1> Cool! What you want to donate? <BR> </h1>
  <h2><BR></h2>
  <div class="main">
    <div class="alignbuttons">
      <button onclick="window.location.href='{s4uDonateGrocery}'"   class="buttonchoose">GROCERY</button>
      <button onclick="window.location.href='{s4uDonatePhoneCall}'"     class="buttonchoose">TALK</button>
      <button onclick="window.location.href='{s4uDonateWalkDog}'"       class="buttonchoose">WALK A DOG</button>
      <button onclick="window.location.href='{s4uDonatePlayGame}'"      class="buttonchoose">PLAY VIDEO GAME</button>
        </div>
  </div>
</body>
