<link rel="stylesheet" type="text/css" href="../classes/Views/Style/headerStyle.css" />
<link rel="stylesheet" type="text/css" href="../classes/Views/Style/RegisterStyle.css" />
<style media="screen">
        .logHidden { display:none; }
        .logVisible { display:block;}
        .has-error, .msg-error { font-weight: bold; color: red; }
        .has-error input { border-color: #ff0000; !important }

      input[type=text], select {
                          width: 80%;
                          padding: 12px 20px;
                          margin: 8px 0;
                          display: inline-block;
                          border: 1px solid #ccc;
                          border-radius: 4px;
                          box-sizing: border-box;
    }

    input[type=submit] {
                    width: 80%;
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 25px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }

    .request {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
</style>
<body>
    <div class="header">
        <h1>Request</h1>
    </div>
    <div class="request">
        <form action="{s4uCreateRequest}" name="createRequest" id="createRequest" method="POST">
            <div>
                <div class="{s4uField}">

                    <label for="reqType">Request Type:</label>
                    <input type="text" id="reqType" name="reqType" placeholder="Request Type:" value="{s4ureqType}" />


                </div>
                <div class="{s4uField}">
                    <label for="reqDate">Date:</label>
                    <input type="text" id="reqDate" name="reqDate" placeholder="Date:" value="{s4ureqDate}" />
                </div>
                <div class="{s4uField}">
                    <label for="userIdReq">User Required:</label>
                    <input type="text" id="userIdReq" name="userIdReq" placeholder="User Required:" value="{s4uuserIdReq}" />
                </div>
                <div class="{s4uField}">
                    <label for="userIdDonor">User Donor:</label>
                    <input type="text" id="userIdDonor" name="userIdDonor" placeholder="User Donor:" value="{s4uuserIdDonor}" />
                </div>
                <div class="{s4uField}">
                    <label for="status">Status:</label>
                    <input type="text" id="status" name="status" placeholder="Status:" value="{s4ustatus}" />
                </div>
                <div class="{s4uField}">
                    <label for="bestTime">Best Time:</label>
                    <input type="text" id="bestTime" name="bestTime" placeholder="Best Time:" value="{s4ubestTime}" />
                </div>
                <div class="{s4uField}">
                    <label for="typeTime">Type Time:</label>
                    <input type="text" id="typeTime" name="typeTime" placeholder="Type Time:" value="{s4utypeTime}" />
                </div>
                <div class="{s4uField}">
                    <label for="langId">Language ID:</label>
                    <input type="text" id="langId" name="langId" placeholder="Language:" value="{s4ulangId}" />
                </div>
                <div class="{s4uField}">
                    <label for="item">Item:</label>
                    <input type="text" id="item" name="item" placeholder="Item:" value="{s4uitem}" />
                </div>
                <div class="{s4uField}">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" placeholder="Phone:" value="{s4uphone}" />
                </div>
                <div class="{s4uField}">
                    <label for="gameId">Game ID:</label>
                    <input type="text" id="gameId" name="gameId" placeholder="Game:" value="{s4ugameId}" />
                </div>
                <div class="{s4uField}">
                    <label for="gameName">Game Name:</label>
                    <input type="text" id="gameName" name="gameName" placeholder="Game Name:" value="{s4ugameName}" />
                </div>
                <div class="{s4uField}">
                    <label for="unitId">Unit Id:</label>
                    <input type="text" id="unitId" name="unitId" placeholder="Unit ID:" value="{s4uunitId}" />
                </div>
                <div class="{s4uField}">
                    <label for="quantity">Quantity:</label>
                    <input type="text" id="quantity" name="quantity" placeholder="Quantity:" value="{s4uquantity}" />
                </div>
            </div>
            <p class="submit"> <input type="submit" name="commit" value="Create Request" /> </p>
        </form>
    </div>
</body>
