
<link rel="stylesheet" type="text/css" href="../classes/Views/Style/styleRequest.css">

<body>
<h1> What brings you in today?<BR> </h1>

<h2><BR></h2>
  <div class="main">
    <div class="alignbuttons">
        <button onclick="alert('Next phase')"   class="button">DONATE TIME</button>
        <button onclick="alert('Next phase')"   class="button">DONATE GROCERY</button>
        <button onclick="window.location.href='http://support4u.website/s4u.php?c=CtlPages&action=home'" class="button">REQUEST TIME</button>
        <button onclick="window.location.href='http://support4u.website/s4u.php?c=CtlRequests&action=newGroceryRequest'" class="button">REQUEST GROCERY</button>
    </div>
    </div>
</body>
