
<link rel="stylesheet" type="text/css" href="../classes/Views/Style/headerStyle.css">
<link rel="stylesheet" type="text/css" href="../classes/Views/Style/RegisterStyle.css">
<style>
  .block {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }


</style>

<body>
<h1> What brings you in today?<BR> </h1>

<h2><BR></h2>

  <button class="block">DONATE TIME</button>
  <BR></BR>
  <button class="block">DONATE GROCERY</button>
  <BR></BR>
  <button class="block">REQUEST TIME</button>
  <BR></BR>
  <button class="block">REQUEST GROCERY</button>
  <BR></BR>

</body>
