
<style>
  .button {
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: #00bfff;
  transition-duration: 1s;
}
.button:hover {
  background-color: #0040ff;
  color: white;
}

</style>

<body>
<h1> What brings you in today?<BR> </h1>

<h2><BR></h2>

  <button onclick="window.location.href='{s4uChooseDonation}'" class="button">DONATE</button>
  <button onclick="window.location.href='{s4uChooseRequest}'" class="button">ASK FOR HELP</button>

</body>
