
<link rel="stylesheet" type="text/css" href="../classes/Views/Style/headerStyle.css">

<style>
.block {
  display: block;
  width: 80%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
	border-radius: 20px;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
</style>

<body>

<h1>
What brings you in today?<BR>
<body>

<h2><BR></h2>

<button class="block">DONATE</button>
<BR></BR>
<button class="block">REQUEST</button>

</body>

</h1>
</body>
