<!--<link rel="stylesheet" type="text/css" href="../classes/Views/Style/headerStyle.css">
   <link rel="stylesheet" type="text/css" href="../classes/Views/Style/RegisterStyle.css">-->
<link rel="stylesheet" type="text/css" href="../classes/Views/Style/style.css">
<body>

  <div class="footer"></div>
  <h2 id="About">About Us</h2>
    <p>At this time in COVID-19, many people are isolated in their houses. SupportForYou is a website where people who need help and donators can meet each other.
      The donators can provide tangible and non-tangible aids to needy people.
      This is a volunteer help website totally depending on the people who want to help those in need but need a platform. It makes possible to donate items, time and care.
    </p>
    <p>
      Support for You is a platform created on an emergency basis
      to connect people who are willing to help other people at greater
      risk of exposure to COVID-19. Be it, for example, buying products
      in supermarkets and pharmacies, or just solving simpler things
      like taking the dog for a walk.The use of the platform is free,
      spread this idea and help a neighbor who needs it, to face this
      difficult moment. Together we are stronger!
    </p>

</body>
