<html>
<head>
    <title>Support for you</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../classes/Views/Style/headerStyle.css">

    {s4uCustomHeaders}
</head>
<body>

    <!-- the header -->
    <header id="header">

        <!-- our main logo -->
        <a id="logo" href="{s4uHomeLink}">
            <img src="../../classes/Views/Pages/Images/s4u.png" alt="Logo">
        <!--    <span>Support for you</span>-->
        </a>

        <!-- main navigation links -->
        <div class="topnav" id="myTopnav">
        <nav >
            <ul class="list-auto">
                <li>{s4uUserGreeting}</li>
                <li><a href="{s4uHomeLink}">Main</a></li>
                <li><a href="{s4uLoginLogoutLink}">{s4uLoginLogout}</a></li>
                <li><a href="{s4uUserRegisterLink}">{s4uSignUp}</a></li>
                <li><a href="{s4uLetsGoLink}">{s4uLetsGo}</a></li>
            </ul>
        </nav>
</div>
    </header>
