<section id="content-wrapper" data-content-field="main-content">
<div class="sqs-cart-dropzone"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          Login
        </div>
        <div class="panel-body form-group">
          <form action="boiler.php?c=CtlUsuarios&action=login" name="realizaLogin" id="realizaLogin" method="POST">
          <div class="msg-erro">{mensagem_erro}</div>
          <div class="row">
            <div class="col-sm-12 form-group {estilo_erro}">
              <input class="form-control" value="" id="login" name="login" placeholder="email ou CPF" type="text" required>
            </div>
            <div class="col-sm-12 form-group  {estilo_erro}">
              <input class="form-control" value="" id="senha" name="senha" placeholder="senha" type="password">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 form-group">
               <label class="checkbox-inline"><input type="checkbox" id="lembrar" name="lembrar" checked>Manter conectado</label>
            </div>
            <div class="col-xs-6 form-group">
              <a class="pull-right" style="cursor: pointer" onclick="esqueciSenha()">Esqueci minha senha</a>
            </div>
          </div> 
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-boiler pull-right" type="submit">Entrar</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div>Ainda não é um usuário Boiler? <a href="boiler.php?c=CtlAtletas&action=cadastraAtleta">Cadastre-se!</a></div>
            </div>
          </div>
          </form>
        </div>
      </div>      
    </div>     
  </div>
</div>
</section>

<script>
  function esqueciSenha() {
    document.realizaLogin.action = 'boiler.php?c=CtlUsuarios&action=esqueceuSenha';
    document.realizaLogin.submit();
  }

</script>
