<html>
<head>
    <title>Support for you</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../classes/Views/Style/headerStyle.css">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
        <a id="logo" href="http://support4u.website/s4u.php">
            <img src="../../classes/Views/Pages/Images/s4u.png" alt="Logo">
            <span>Support for you</span>
        </a>

        <!-- main navigation links -->
        <nav>
            <ul>
								<li><a href="#">{msg-usuario}</a></li>
                <li><a href="http://support4u.website/s4u.php">Main</a></li>
                <li><a href="http://support4u.website/s4u.php?c=CtlUsers&action=login">Login</a></li>
                <li><a href="#">About</a></li>
                <li><a href="http://support4u.website/s4u.php?c=CtlUsers&action=UserRegister">Sign Up</a></li>
                <li><a href="http://support4u.website/s4u.php?c=CtlUsers&action=logout">Logout</a></li>
            </ul>
        </nav>

    </header>
