<div class="slideshow-container">
  <div class="mySlides fade slide1">
    <div class="text"></div>
  </div>
  <div class="mySlides fade slide2">
    <div class="text"></div>
  </div>
  <div class="mySlides fade slide3">
    <div class="text"></div>
  </div>
  <div class="headline">
    Together we make a difference !!
  </div>
</div>

<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1
    }

    slides[slideIndex - 1].style.display = "block";

    setTimeout(showSlides, 3000); // Change image every 2 seconds
  }
</script>
