<body>
  <link rel="stylesheet" type="text/css" href="../classes/Views/Style/loginStyle.css">
<div class="login">
  <h1>Login to SupportForYou</h1>
    <form action="{s4uLogin}" name="realizaLogin" id="realizaLogin" method="POST">
    <div class="msg-erro">{s4uErrorMesage}</div>
    <div class="row">
      <div class="col-sm-12 form-group {estilo_erro}">
        <p><input type="text" name="login" value="" placeholder="Login"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>

    <p class="submit" ><input type="submit" name="commit" value="Login"></p>
    <div>
      <p></p><a href="{s4uRegister}">Need to Register?</a>
    </div>
  </form>
</div>


</body>
