<h1>Login</h1>
<div class="content content-small">
    <form action="{s4uLogin}" name="realizaLogin" id="realizaLogin" method="POST" class="pure-form pure-form-stacked">
        <fieldset>
            <div class="msg-erro">
                {s4uErrorMesage}
            </div>
            <div class="pure-g">
                <div class="pure-u-1">
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login" value="" placeholder="Login" class="pure-u-1">
                </div>
                <div class="pure-u-1">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="pure-u-1">
                </div>
                <div class="pure-u-1">
                    <label>&nbsp;</label>
                    <input type="submit" name="commit" value="Login"  class="pure-u-1">
                </div>
            </div>
        </fieldset>
        <div>
            <a href="{s4uRegister}">Need to Register?</a>
        </div>
    </form>
</div>