<h1>Thank you!!!</h1>
<div class="content">
  <p>Thank for your donation.</p>
  <p>We have sent {s4uReqName} an email so he/she can contact you soon.</p>
</div>
<div class="content content-small">
  <div class="pure-g sub-menu">
    <button onclick="window.location.href='{s4uChooseDonation}'" class="pure-u-1"><i class="fas fa-hand-holding-heart"></i> I CAN DO MORE</button>
    <button onclick="window.location.href='{s4uChooseMain}'" class="pure-u-1"><i class="fas fa-hands-helping"></i> MAIN PAGE</button>
  </div>
</div>
<div class="content">
  <h3>To prevent the spread of COVID-19:</h3>
  <p>1 - Clean your hands often. Use soap and water, or an alcohol-based hand rub.</p>
  <p>2 - Maintain a safe distance from anyone who is coughing or sneezing.</p>
  <p>3 - Wear a mask when physical distancing is not possible.</p>
  <p>4 - Don't touch your eyes, nose or mouth.</p>
  <p>5 - Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</p>
  <p>6 - Stay home if you feel unwell.</p>
  <p>7 - If you have a fever, cough and difficulty breathing, seek medical attention.</p>

  <h7>
    For more information
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">For more information</a>

  </h7>
</div>
