<section id="content-wrapper" data-content-field="main-content">
<div class="sqs-cart-dropzone"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          Troca de Senha
        </div>
        <div class="panel-body form-group">
          <form action="boiler.php?c=CtlUsuarios&action=trocaSenha" method="POST">
          <div class="msg-erro">{mensagem_erro}</div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="senha">Entre com a sua nova senha*:</label>
              <input class="form-control {estilo_erro}" value="" id="senha" name="senha" type="password" required>
            </div>
            <div class="col-sm-12 form-group">
              <label for="confirma">Entre novamente para confirmação:</label>
              <input class="form-control {estilo_erro}" value="" id="confirma" name="confirma" type="password" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8" style="line-height:80%">
              <small>
              *senhas válidas devem:<BR>
                <ul>
                  <li>possuir ao menos um número</li>
                  <li>ter mais de 6 caracteres</li>
                  <li>serem diferentes da senha atual</li>
                </ul>
                </small>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-boiler pull-right" type="submit">Trocar</button>
            </div>
          </div>
          </form>
        </div>
      </div>      
    </div>     
  </div>
</div>
</section>
