select, input {
    height: 34px !important;
}

form button, form input[type=submit] {
    height: 34px;
}

button, input[type=submit] {
    padding: .5em .6em;
    background-color: #92ACAE;
    border: solid 1px #92ACAE;
    border-radius: 4px;
    color: #FFF;
    min-width: 100px;
}

button:hover, input[type=submit]:hover {
    background-color: #6D9093;
}

.action-buttons {
    text-align: right;
}

.action-buttons button, .action-buttons input[type=submit]{
    min-width: 200px;
}

form.pure-form.pure-form-stacked [class*="pure-u-"] {
    padding-right: 5px;
}

form label:after {
    content: "\00a0";
}