<h1> Cool! What you want to donate?</h1>
<div class="content content-small">
    <div class="pure-g sub-menu">
      <button onclick="window.location.href='{s4uDonateGrocery}'"        class="pure-u-1"><i class="fas fa-hamburger"></i> GROCERY</button>
      <button onclick="window.location.href='{s4uDonatePhoneCall}'"      class="pure-u-1"><i class="fas fa-comments"></i> TALK</button>
      <button onclick="window.location.href='{s4uDonateWalkDog}'"        class="pure-u-1"><i class="fas fa-paw"></i> WALK A DOG</button>
      <button onclick="window.location.href='{s4uDonatePlayGame}'"       class="pure-u-1"><i class="fas fa-gamepad"></i> PLAY VIDEO GAME</button>
    </div>
</div>

