<h1>Let's walk the dog for whoever needs it</h1>

<div class="content">
    <form action="{s4uFilterRequest}" name="searchRequest" id="searchRequest" method="POST">
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-sm-2-5">
                    <label>What is the best time to call?</label>
                    <select class="pure-u-1" name="bestTime">
                        <option value="1">Morning</option>
                        <option value="2">Afternoon</option>
                        <option value="3">Night</option>
                        <option value="4" selected>Anytime</option>
                    </select>
                </div>
                <div class="pure-u-1 pure-u-sm-2-5">
                    <label for="city" class="city">City : </label>
                    <select class="pure-u-1" name="cityId">
                      <option value=0>Any City</option>
                        {s4uListCities}
                    </select>
                </div>
                <div class="pure-u-1 pure-u-sm-1-5">
                    <label></label>
                    <input type="submit" name="commit" value="Filter" />
                </div>
            </div>
        </fieldset>
    </form>
    <form action="{s4uRequestMatch}" name="searchRequest" id="searchRequest" method="POST">
        <table class="pure-table pure-table-horizontal">
            {s4uTableRequests}
        </table>
        <p class="submit">
            <input type="submit" name="commit" value="Ok" />
        </p>
    </form>
</div>
