
   <div class="header">
      <h1>Walk dog confirmation</h1>
   </div>
   <div class="main">
   <div class="float: left; width: 500px;">
   	  	<form action="{s4uConfirmation}" name="confirmMatch" id="confirmMatch" method="POST">
   	  		<h2>
   	  			OK, let's walk this dog!<BR><BR>
              We will send {s4uDogOwnerName} your email address,
              and he/she will contact you so you both can arrange
              the details of this walk the dog.<BR>
            </h2>
            <BR><BR>
                <table class="pure-table pure-table-striped">
            	    <tr><td><strong>Beneficiary: </strong></td><td>{s4uBeneficiaryName}</TD></tr>
    	            <tr><td><strong>Email: </strong></td><td>{s4uBeneficiaryEmail}</TD></tr>
            	    <tr><td><strong>Best time: </strong></td><td>{s4uBeneficiaryBestTime}</TD></tr>
    	            <tr><td><strong>City: </strong></td><td>{s4uBeneficiaryCity}</TD></tr>
                </table>

            <p class="submit">
    	    	<input type="submit" name="commit" value="Ok. Send this email" />
        	 </p>
        	</form>
           	<form action="{s4uCancel}" name="cancelMatch" id="cancelMatch" method="POST">
           		<p class="submit">
                    <input type="submit" name="cancel" value="No. I change my mind" />
                </p>
            </form>
      </div>
   </div>
