<h1>Phone Call Confirmation</h1>

<div class="content">
    <form action="{s4uConfirmation}" name="confirmMatch" id="confirmMatch" method="POST">
        <h2> Great, here is the phone number.
          <p>
          We are going to send {s4uTalkerName} an email.
          He/She will be waiting for you call.
          </p>
        </h2>

        <article class="card match">
            <div class="card-header">
                <i></i>
                <h3>{s4uBeneficiaryName}</h3>
            </div>
            <div class="card-content">
                <div><span>Phone</span>{s4uBeneficiaryPhone}</div>
                <div><span>Best time</span>{s4uBeneficiaryBestTime}</div>
                <div><span>Language</span>{s4uBeneficiaryLanguage}</div>
            </div>
        </article>

        <p class="action-buttons">
            <input type="submit" name="commit" value="Ok. I will call" />
        </p>
    </form>
    <form action="{s4uCancel}" name="cancelMatch" id="cancelMatch" method="POST">
        <p class="action-buttons">
            <input type="submit" name="cancel" value="No. Change my mind" />
        </p>
    </form>
</div>
