<h1>Grocery donation confirmation</h1>
<div class="content">
  <form action="{s4uConfirmation}" name="confirmMatch" id="confirmMatch" method="POST" class="pure-form pure-form-stacked">
    <fieldset>
      <p>
        That is the list of things that the person choose needs.
      </p>
      <p>
        We are going to send your email address to this person and he/she will contact you so you both can arrange the
        details of this donation.
      </p>
      {s4uUserAndGroceryItems}
      <div class="action-buttons">
        <input type="submit" name="commit" value="Ok. Send this email" />
      </div>
    </fieldset>
  </form>
  <form action="{s4uCancel}" name="cancelMatch" id="cancelMatch" method="POST">
    <div class="action-buttons">
      <input type="submit" name="cancel" value="No. I changed my mind" />
    </div>
  </form>
</div>
