
   <div class="header">
      <h1>Play a game Confirmation</h1>
   </div>
   <div class="main">
   <div class="float: left; width: 500px;">
   	  	<form action="{s4uConfirmation}" name="confirmMatch" id="confirmMatch" method="POST">
   	  		<h2>
   	  			OK, let's play GAME!<BR><BR>
                We will send {s4uPlayerName} your email address.
                He / She will invite you to play soon.<BR>
            </h2>
            <BR><BR>
                <table class="pure-table pure-table-striped">
            	    <tr><td><strong>Beneficiary: </strong></td><td>{s4uBeneficiaryName}</TD></tr>
    	            <tr><td><strong>Email: </strong></td><td>{s4uBeneficiaryEmail}</TD></tr>
            	    <tr><td><strong>Best time: </strong></td><td>{s4uBeneficiaryBestTime}</TD></tr>
    	            <tr><td><strong>Language: </strong></td><td>{s4uBeneficiaryLanguage}</TD></tr>
                </table>

            <p class="submit">
    	    	<input type="submit" name="commit" value="Ok. Send this email" />
        	</p>
        </form>
        <form action="{s4uCancel}" name="cancelMatch" id="cancelMatch" method="POST">
            <p class="submit">
                <input type="submit" name="cancel" value="No. Don't send my email" />
            </p>
        </form>
      </div>
   </div>
</body>
